/* @media (max-width:575px){
    .navbar_logo img{
        width: 200px;
    }

    .navbar-toggler{
        margin-top: 30px;
    }

    .choose_title h1 {
        font-size: 27px;
    }

    #choose {
        padding-top: 50px;
        padding-bottom: 50px;
    }
} */