
body{
    background-color: #25292B;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    
}


ul, ol{
    list-style-type: none;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}


/* navbar part start */

.navbar{
    position: absolute;
    z-index: 1;
    width: 100%;
    background: transparent;
}

.nav-item a{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
	color: black;
}


/* navbar part end */

/* banner part start */

#banner{
    padding-top: 500px;
    padding-top: 500px;
    position: relative;
}

/* banner part end */

/* choose part start */

#choose{
    padding-top: 100px;
    padding-bottom: 50px;
}

.choose_title h1{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
    
    padding-bottom: 50px;
}

.choose_box img{
    width: 200px;
}

.line {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.372);
	position: relative;
}

.line_box {
	position: absolute;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.498);
	top: -25px;
	left: 528px;
}



/* choose part end */


/* display part start */

   .display_img{
    padding-top: 250px;
   } 

   .display_content{
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 50px 0;
   }

   .display_content h3{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 60px;
   }

   .display_content p{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
   }

/* display part end */

/* Show part start */

#show{
    background: #f0721d;
    padding: 20px 0;
}

.show_content h2{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.show_content{
    position: relative;
}


.show_box {
	position: absolute;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	background: #f0721d;
	top: 46px;
	left: 528px;
    
}

/* Show part end */

/* show_video start */

#show_video{
    background: #ffffff;
    padding: 50px 0;
}


/* show_video end */

/* contact part start */

#contact{
    background: #f0721d;
    padding: 20px 0;
}

.contact_content h2{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
}

.contact_content{
    position: relative;
}


.contact_box {
	position: absolute;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	background: #f0721d;
	top: 45px;
	left: 528px;
    z-index: -1;
}

/* contact part end */


/* form part start */

#form{
    padding: 50px 0;
    color: white;
}

#form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_name
{
    display: flex;
    flex-direction: column;
}

.form_email
{
    display: flex;
    flex-direction: column;
}

.form_phone
{
    display: flex;
    flex-direction: column;
}


.form_call
{
    display: flex;
    flex-direction: column;
}

.form_message
{
    display: flex;
    flex-direction: column;
}

#form input{
    border-radius: 5px;
    border: none;
}

.contact_form{
    background: #1E2123;
    width: 50%;
    padding: 30px 30px;
}

.submit{
    background-color: #f0721d;
    width: 70px;
    color: white;
    padding: 5px;
    border-radius: 0;
}


/* form part end */

/* member part start */

#member{
    /* padding-top: 100px; */
    padding-bottom: 50px; 
}

.member_title h1{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 20px;
}


.line_member {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.372);
	position: relative;
}

.line_member_box {
	position: absolute;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	background: #25292B;;
	border: 1px solid rgba(255, 255, 255, 0.498);
    border-right: none;
    border-top: none;
	top: -25px;
	left: 528px;
}

.member_showcase{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}


/* member part end */

/* certificate part start */

#certificate{
    /* padding-top: 100px; */
    padding-bottom: 50px; 
}

.certificate_title h1{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 20px;
}


.line_certificate {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.372);
	position: relative;
}

.line_certificate_box {
	position: absolute;
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	background: #25292B;;
	border: 1px solid rgba(255, 255, 255, 0.498);
    border-right: none;
    border-top: none;
	top: -25px;
	left: 528px;
}

.certificate_showcase{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}


/* certificate part end */

/* quality part start */

.quality_certificate img{
    height: 90px;
    width: 150px;
}

.quality_certificate{
    display: flex;
    gap: 20px;
}

.quality_left h4{
    font-size: 13px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
    margin: 0 0 28px;
    color: #ffffff;
}

.quality_left p{
    font-size: 15px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
    margin: 0 0 28px;
    color: #8c8989;
    line-height: 1.5;
}


#quality{
    background: #363839;
    border-top: 5px solid #E9EAEE;
    padding: 50px 0;

}

.quality_right h4{
    font-size: 13px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
    margin: 0 0 28px;
    color: #ffffff;
}

.quality_right > p{
    font-size: 15px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
    margin: 0 0 28px;
    color: #8c8989;
    line-height: 1.5;
}

.quality_contact p{
    font-size: 15px;
    font-weight: 400;
    font-family: "PT Sans Caption", sans-serif;
    color: #8c8989; 
}

.quality_contact span{
    color: #ffffff;
}

.quality_contact span:hover{
    color: #f0721d;
}

/* quality part end */

/* footer part start */
#footer{
    padding: 10px 0;
}
.footer_wrap{
    display: flex;
    color: #ffffff;
}

.footer_wrap a{
    color: #ffffff;
    color: #8c8989;
    font-size: 12px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.footer_wrap span{
    padding-left: 10px;
    padding-right: 10px;
    color: #8c8989;
    font-size: 12px;
}

/* footer part end */


/* responsive part start */


@media (max-width:575px){
    .navbar_logo img{
        width: 200px;
    }

    .navbar-toggler{
        margin-top: 30px;
    }

    .choose_title h1 {
        font-size: 27px;
    }
    
    #choose {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .line_box {
       display: none;
    }

    .show_content h2 {
        font-size: 28px;
    }

    .show_box {
       display: none;
    }

    iframe {
        width: 300px;
    }

    #show_video {
        padding: 0;
    }

    .contact_content h2 {
        font-size: 30px;
    }

    .contact_box {
        display: none;
    }

    .contact_form {
        width: 100%;
    }

    .member_title h1 {
        font-size: 30px; 
    }

    .member_showcase {
        flex-direction: column;
        gap: 50px;
    }

    .line_member_box {
       display: none;
    }

    .line_certificate_box {
       display: none;
    }

    .certificate_showcase {
        flex-direction: column;
        gap: 30px;
    }

    .quality_left p {
        font-size: 11px;
    }
    .quality_right{
        padding-top: 20px;
    }
    .footer_wrap {
        text-align: center;
        flex-direction: column;
    }

    .footer_wrap a {
        font-size: 10px;
    }
    .footer_wrap span {
        display: none;
    }
}


/* responsive part end */